<a href="https://colab.research.google.com/github/aditi230/time-series-analysis/blob/main/Time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [15]:
# TIMES
rng = pd.date_range('2023/07/01', periods = 10, freq = '5H')
rng

DatetimeIndex(['2023-07-01 00:00:00', '2023-07-01 05:00:00',
               '2023-07-01 10:00:00', '2023-07-01 15:00:00',
               '2023-07-01 20:00:00', '2023-07-02 01:00:00',
               '2023-07-02 06:00:00', '2023-07-02 11:00:00',
               '2023-07-02 16:00:00', '2023-07-02 21:00:00'],
              dtype='datetime64[ns]', freq='5H')

In [13]:
# Which of these formats DON'T work?
#'2016 Jul 1', '7/1/2016', '1/7/2016', 'July 1, 2016', '2016-07-01', '2016/07/01'

In [16]:
# Is '7/1/2016 in January or July? -> july

In [17]:
# What is the class of an individual object held in the date_range? -> datetimeindex

In [18]:
# TIME STAMPS VS TIME SPANS
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [19]:
# You can also more details
pd.Timestamp('2016-07-10 10')

Timestamp('2016-07-10 10:00:00')

In [20]:

# Or even more...
pd.Timestamp('2016-07-10 10:15')

Timestamp('2016-07-10 10:15:00')

In [21]:
# How much detail can you add?
# nanosec

In [22]:
# What are some properties of timestamps? Try them out.
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components
t = pd.Timestamp('2016-07-10 10:15')

In [23]:
# TIME SPANS
pd.Period('2016-01')

Period('2016-01', 'M')

In [ ]:
# What's that extra info above? How does it get set?

In [24]:
pd.Period('2016-01-01')

Period('2016-01-01', 'D')

In [25]:
pd.Period('2016-01-01 10')

Period('2016-01-01 10:00', 'H')

In [26]:
pd.Period('2016-01-01 10:10')

Period('2016-01-01 10:10', 'T')

In [27]:
pd.Period('2016-01-01 10:10:10')

Period('2016-01-01 10:10:10', 'S')

In [28]:
# What's the most detailed Period you can get?

In [29]:
# How can you make multiple time periods?
# Hint look for analogy with pd.date_range() above

In [30]:
# TIME OFFSETS
pd.Timedelta('1 day')

Timedelta('1 days 00:00:00')

In [31]:
pd.Period('2016-01-01 10:10') + pd.Timedelta('1 day')

Period('2016-01-02 10:10', 'T')

In [32]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('1 day')

Timestamp('2016-01-02 10:10:00')

In [33]:

pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('15 ns')

Timestamp('2016-01-01 10:10:00.000000015')

In [34]:
# FANCY FREQUENCY SETTING
# Only want business days
pd.period_range('2016-01-01 10:10', freq = 'B', periods = 10)

PeriodIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
             '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
             '2016-01-13', '2016-01-14'],
            dtype='period[B]')

In [35]:
# It's possible to combine frequencies. What if you want to advance by 25 hours each day. What are the 2 ways to do it?
p1 = pd.period_range('2016-01-01 10:10', freq = '25H', periods = 10)

In [36]:
p2 = pd.period_range('2016-01-01 10:10', freq = '1D1H', periods = 10)

In [37]:
p1

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]')

In [38]:
p2

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]')

In [39]:
# What are some other combos you can produce?
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

In [40]:
# INDEXING WITH TIME OBJECTS
# You can use these objects for indices
# Let's start with using a date range as above
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng
pd.Series(range(len(rng)), index = rng)

2016-07-01    0
2016-07-02    1
2016-07-03    2
2016-07-04    3
2016-07-05    4
2016-07-06    5
2016-07-07    6
2016-07-08    7
2016-07-09    8
2016-07-10    9
Freq: D, dtype: int64

In [41]:
# You can also use time period indices, in cases where it makes more sense
# to think about your index as a time span rather than a single point in time

periods = [pd.Period('2016-01'), pd.Period('2016-02'), pd.Period('2016-03')]
ts = pd.Series(np.random.randn(len(periods)), index = periods)
ts

2016-01    0.119263
2016-02    0.941294
2016-03    0.680775
Freq: M, dtype: float64

In [42]:
# What type is the index for ts?
type(ts.index)

pandas.core.indexes.period.PeriodIndex

In [43]:
# Experiment with various indices
# Hint: does ts['2016'] work?

In [44]:
# Timestamped data can be convereted to period indices with to_period and vice versa with to_timestamp
ts = pd.Series(range(10), pd.date_range('07-10-16 8:00', periods = 10, freq = 'H'))
ts

2016-07-10 08:00:00    0
2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int64

In [45]:
ts_period = ts.to_period()
ts_period

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int64

In [46]:
ts_period['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of overlap with time periods

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
Freq: H, dtype: int64

In [47]:
ts['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of include with timestamps

2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
Freq: H, dtype: int64